// Dark theme overrides
$AU-colordark-foreground-text: #ffffff;
$AU-colordark-foreground-action: #45c2f0;
$AU-colordark-foreground-focus: #e3e7ea;
$AU-colordark-background: #3c4858;

// Light theme overrides
$AU-color-foreground-action: #3c4858;
$AU-color-foreground-focus: #ffffff;
//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;

$AU-logo-width-sm: 16unit;


// UI-Kit
@import 'auds.scss';


// Reset the body
body {
  padding: 0;
  margin: 0;
}


// Increase the spacing for au-body elements inside main
main > .au-body {
  @include AU-space(padding, 2unit 0);

  @include AU-media(sm) {
	@include AU-space(padding, 4unit 0);
  }
}


// Slight grid changes for container fluid
.au-grid .container-fluid {
  @include AU-space(max-width, 80unit);

  @include AU-media(sm) {
	@include AU-space(padding-left, 2unit);
	@include AU-space(padding-right, 2unit);
  }
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
  @include AU-space(padding-right, 1unit);
}

// The call to actions on the home page
.btn-cta-group {
  @include AU-space(margin-top, 1unit);

  .au-btn {
	@include AU-space(margin-top, 1unit);
  }
}


.label--block {
  display: block;
}


footer {

  nav + div {
	@include AU-space(margin-top, 1unit);

	@include AU-media(md) {
	  margin-top: 0;
	}
  }
}


.register-banner {

  .col-sm-3 + .col-sm-3 {
	@include AU-space( margin-top, 4unit );
  }


  @include AU-media( sm ) {
	.col-sm-3 + .col-sm-3 {
	  margin-top: 0;
	}
  }

}


section {

  .col-md-6 + .col-md-6 {
	@include AU-space(margin-top, 1unit);

	@include AU-media(md) {
	  margin-top: 0;
	}
  }
}


.au-header {
  [class^="col-md"] + [class^="col-md"] {
	@include AU-space( margin-top, 1.5unit );
  }

  @include AU-media( md ) {
	[class^="col-md"] + [class^="col-md"] {
	  margin-top: 0;
	}
    padding-bottom: 0;
  }
}



.dna-search-input {

  width:75%;

	@media ( min-width: 338px ) {
	  margin-bottom: 0;
      width:62%;
	}


}


.label--large {
	@include AU-space( margin-bottom, 1.5unit );
}

.login-button {

  @include AU-media(  sm ) {
    float: right;
  }

}


.form-item{
  button {
    @include AU-space(margin-top, 1unit);
  }

  @media ( min-width: 338px )  {
    button {
      margin-top: 0;
    }
  }
}

