// Dark theme overrides
$AU-colordark-foreground-text: #ffffff;
$AU-colordark-foreground-action: #45c2f0;
$AU-colordark-foreground-focus: #e48ffc;
$AU-colordark-background: #3c4858;

// Light theme overrides
$AU-color-foreground-action: #3c4858;
$AU-color-foreground-focus: #e48ffc;
//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;
$AU-logo-width-sm: 16unit;


// UI-Kit
@import 'auds.scss';


// Reset the body
body {
  padding: 0;
  margin: 0;
}


// Increase the spacing for au-body elements inside main
main > .au-body {
  @include AU-space(padding, 2unit 0);

  @include AU-media(sm) {
	@include AU-space(padding, 4unit 0);
  }
}


// Slight grid changes for container fluid
.au-grid .container-fluid {
  @include AU-space(max-width, 80unit);

  @include AU-media(sm) {
	@include AU-space(padding-left, 2unit);
	@include AU-space(padding-right, 2unit);
  }
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
  @include AU-space(padding-right, 1unit);
}

// The call to actions on the home page
.btn-cta-group {
  @include AU-space(margin-top, 1unit);

  .au-btn {
	@include AU-space(margin-top, 1unit);
  }
}


.au-label {
  display: block;

}


footer {

  nav + div {
	@include AU-space(margin-top, 1unit);

	@include AU-media(md) {
	  margin-top: 0;
	}
  }
}


.register-banner {

  h2 {
    @include AU-space( margin-bottom, 2unit );
  }

  img {
    width:100px;

  }

  .col-md-3 + .col-md-3  {
	@include AU-space( margin-top, 2unit );
  }


  @media screen and (min-width: 768px) and (max-width: 991px)  {
    .col-md-3 + .col-md-3 + .col-md-3 {
      @include AU-space( margin-top, 2unit );
    }
    .col-md-3 + .col-md-3  {
     margin-top: 0;
    }
  }

  @include AU-media( md ) {
    .col-md-3 + .col-md-3  {
       margin-top: 0 ;
    }
  }


}


section {

  .col-md-6 + .col-md-6 {
	@include AU-space(margin-top, 1unit);

	@include AU-media(md) {
	  margin-top: 0;
	}
  }
}


.au-header {
  [class^="col-md"] + [class^="col-md"] {
	@include AU-space( margin-top, 1.5unit );
  }

  @include AU-media( md ) {
	[class^="col-md"] + [class^="col-md"] {
	  margin-top: 0;
	}
    padding-bottom: 0;
  }
}


.dna-search-wrapper {
  input {
    @include AU-space(height, 4unit);
    @include AU-space(width, 65%);
    @include AU-space(margin-right, 0.5unit);
    @include AU-fontgrid( md, default );

    @media (max-width: 834px) {
      @include AU-space(margin-bottom, 1unit);
      @include AU-space(width, 100%);
    }
  }

  .dna-search__button {
    @include AU-space(height, 4unit);
  }


}

.hint-text {
  @include AU-space( margin-bottom, 0.5unit );
  color: $AU-color-foreground-muted;
  display: block;

  &.hint-text--dark {
    color: $AU-colordark-foreground-muted;
  }
}


.login-button {

  @include AU-media( sm ) {
    float: right;
  }

}


.form-item {
  button {
    @include AU-space( margin-top, 1unit );

    @media ( min-width: 361px )  {
      margin-top: 0;
    }
  }

}


.au-card {
  background: $AU-color-background;
  @include AU-space( padding, 1unit );
  border-radius: $AU-border-radius;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &__image {
    text-align: center;
    @include AU-space( margin-top, 1unit );
  }
}


.card-list {

  @include AU-media( sm ) {
    display: flex;
    flex-wrap: wrap;

    div[ class^="col-" ] {
      display: flex;
    }
  }


  h3 {
    text-align: center;
  }
}

.center-image {

  text-align: center;

}
